.event-entry {
  padding: 10px;
  margin: 5px;
  background-color: rgb(236, 236, 236);
  transition: filter ease 0.3s
}

.event-entry:hover {
  filter: brightness(1.06);
  transition: filter ease 0.3s;
  cursor: pointer;
}